<div class="col-md-12">
    <div class="group">
      <span class= "pull-right">
        <% if current_user && current_user.has_favorite?(@group)%>
          <label class="label label-success"> 已收藏</label>
            <%= link_to("取消收藏", unfavorite_group_path(@group), method: :post, class: "btn btn-default") %>

        <% else %>
          <label class="label label-warning"> 未收藏</label>
            <%= link_to("加入收藏", favorite_group_path(@group), method: :post, class: "btn btn-default") %>

        <% end %>
      </span>
        <%= link_to("新增影评", new_group_review_path(@group),class: "btn btn-default pull-right")%>
        <% if current_user && current_user == @group.user %>
            <%= link_to("编辑影片信息", edit_group_path(@group), class: "btn btn-primary pull-right")%>
        <% end %>
    </div>
    <h2>🎬名称:<%= @group.title %></h2>
   <% if @group.image.present? %>
     <%= image_tag(@group.image.medium.url, class: "thumbnail") %>
   <% else %>
     <%= image_tag("http://placehold.it/300x419&text=No Pic", class: "thumbnail") %>
   <% end %>
    <p>描述:<%= @group.description %></p>
    <table class="table">
        <thead>
            <tr>
                <th>影评内容</th>
                <th>发表者</th>
                <th>发表时间</th>
            </tr>
        </thead>
        <tbody>
            <% @reviews.each do |review| %>
                <tr>
                    <td><%= review.content %></td>
                    <td><%= review.user.email %></td>
                    <td><%= review.created_at %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="text-center">
        <%= will_paginate @reviews %>
    </div>
</div>
